body { font-family: 'Lato'; }
.fa-btn { margin-right: 6px; }
.jwt-token { word-wrap: break-word; }
//#main-content {
//	table {
//		display: none;
//	}
//}
//#table-my-entries {
//	td:first-child, td:last-child { white-space: nowrap; }
//	td:nth-child(2) { text-align: center; }
//}
//#table-all-entries {
//	td:nth-child(2), td:last-child { white-space: nowrap; }
//	td:nth-child(3) { text-align: center; }
//}
//.btn-edit-entry,
//.btn-edit-user { margin-right: 10px; }
//#header-buttons { margin-bottom: 10px; }
//
//#ajax-loading {
//	padding: 10px;
//	text-align: center;
//}